<header class="main-header">
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="float-start">
        <a class="navbar-brand" href="#">
          <img src="https://pao.widowmakers.org/BWC_Logo_FRAMED.svg" alt="WidowMakers" height="30">
        </a>
      </div>
      <div class="float-end">
        <ul class="nav">
          <li class="nav-item">
            <div id="clock"></div>
          </li>
          <li class="nav-item dropdown">
            <button id="search-button" class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-search"></i>
            </button>
            <ul class="dropdown-menu">
              <input>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
