{% extends 'single.html' %}

{% block title %}Login{% endblock %}
{% block single_content %}

  {% if show_resend_activation %}

    <div class="text-center text-current/75 text-sm mb-4">
      You haven't received the activation email?
      <a href="{{ url_for("auth.resend_activation") }}">Resend</a>
    </div>
  {% endif %}
  <div class="card">
    <div class="card-body p-5">
      <h4 class="card-title">Sign in to your account</h4>
      <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
          <label class="form-label">Email Address</label>
          {{ form.email(class="form-control", type="email", autofocus=true) }}
          {{ render_field_errors(form.email) }}
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          {{ form.password(class="form-control", type="password") }}
          {{ render_field_errors(form.password) }}
          <div class="text-muted">
            <a href="{{ url_for("auth.forgot_password") }}" class="small">Forgot password?</a>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-block">Log In</button>
        </div>
      </form>
      {% if connect_with_oidc %}

        <div class="text-center my-2 text-gray">
          <span class="horizontal-line">or</span>
        </div>
        <a class="btn btn-primary btn-block mt-2 w-100" href="/">Sign in with BWC Auth</a>
      {% endif %}
    </div>
  </div>
  <div class="text-center text-muted mt-2">
    Don't have an account yet?
    <a href="{{ url_for("auth.register") }}">Sign up</a>
  </div>
{% endblock %}
