{% extends 'base.html' %}

{% block page %}
  {# Override the header on a page by page basis by extending this block. If #}
  {# making sitewide header changes it is preferable to override the header.html #}
  {# file. #}
  {% block header %}
    {% include "snippets/header.html" %}
  {% endblock header %}
  {# The navigation block allows you to replace the navigation aside of the page if needed #}
  {% block navigation %}
    {% include 'snippets/navigation.html' %}
  {% endblock navigation %}
  {# The content block allows you to replace the content of the page if needed #}
  {% block content %}
    {% block maintag %}
      <div class="main">
      {% endblock maintag %}
      <div id="content">
        {% block main_content %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
          {# The pre_primary block can be used to add content to before the #}
          {# rendering of the main content columns of the page. #}
          {% block pre_primary %}
          {% endblock pre_primary %}
          {% block primary %}
            <div class="primary col-md-12 col-xs-12" role="main">
              {# The primary_content block can be used to add content to the page. #}
              {# This is the main block that is likely to be used within a template. #}
              {# Example: #}
              {# {% block primary_content %} #}
              {#   <h1>My page content</h1> #}
              {#   <p>Some content for the page</p> #}
              {# {% endblock %} #}
              {% block primary_content %}
              {% endblock primary_content %}
            </div>
          {% endblock primary %}
        {% endblock main_content %}
      </div>
    </div>
  {% endblock content %}
  {# Override the footer on a page by page basis by extending this block. If #}
  {# making sitewide header changes it is preferable to override the footer.html file. #}
  {% block footer %}
    {% include "snippets/footer.html" %}
  {% endblock footer %}
{% endblock page %}
