{% extends 'page.html' %}

{% block title %}Application Status{% endblock %}
{% block primary_content %}

  <div class="card col-sm-8 mx-auto center-card">
    <div class="card-body text-center">
      {% if status | enlistment_status == "PENDING" %}

        <div class="text-warning">
          <h2 class="text-white">Application Status</h2>
          <h4>Pending</h4>
          <p>Your application is still pending. Please wait for further instructions.</p>
        </div>
      {% endif %}
      {% if status | enlistment_status == "DENIED" %}

        <div class="text-danger">
          <h2 class="text-white">Application Status</h2>
          <h4>Denied</h4>
          <p>Your application has been denied. Please check your email for further information.</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
