@import 'custom_bootstrap_vars';
@import '~bootstrap/scss/bootstrap';

// project specific CSS goes here

///////////////
// Variables //
///////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// Grays
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////
// Webkit //
////////////
* {
  scrollbar-color: #901919 #212121;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: #2d2d2d;
}
::-webkit-scrollbar-track-piece {
  background: #2d2d2d;
}
::-webkit-scrollbar-thumb {
  background: #810900;
}
::-webkit-scrollbar-thumb:hover {
  background: #ab0900;
}
::-webkit-scrollbar-corner {
  background: #2d2d2d;
}
::-webkit-resizer {
  background: #2d2d2d;
}

///////////////////
// Miscellaneous //
///////////////////
@each $color, $value in $grays {
  .text-gray-#{$color} {
    color: $value;
  }
}
html {
  font-size: 16px;
  direction: ltr;
}
body {
  direction: ltr;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  background: url('https://the-bwc.com/PAO/Forum_Header_Background.png')
    no-repeat fixed center top;
  background-size: cover;
}
.text-muted li p {
  color: var(--bs-secondary-color);
}
.text-muted li p b {
  color: var(--bs-body-color);
}
.text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
aside {
  #member-information {
    width: 20rem;

    .avatar {
      display: block;
      overflow: hidden;
    }

    div p {
      margin: 0;
    }
  }

  #navigation {
    margin-bottom: 0;
    padding: 0;
    width: 20rem;
    list-style: none;
    border-radius: 0.25rem;

    li {
      margin-bottom: 0;
      padding: 0;
      list-style: none;

      a {
        color: $white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        border-radius: 0.25rem;

        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
}
.main-header {
  position: relative;
  z-index: 1050;
  background-color: $dark;

  .navbar {
    min-height: 50px;
    padding: 0;

    .navbar-brand {
      display: block;
      height: 50px;
    }

    .float-end {
      .nav > .nav-item {
        height: 50px;
        min-width: 50px;
        line-height: 20px;
      }
      #clock {
        padding: 15px;
      }
      .search-dropdown {
        .show {
          background-color: $gray-800;

          i {
            color: $primary;
          }
        }

        a {
          padding: 15px;
          border: 0;
          border-radius: 0;
          line-height: 20px;

          &:hover,
          &:focus,
          &:active {
            background-color: $gray-800;

            i {
              color: $primary;
            }
          }
        }
      }
    }
  }

  .search-menu {
    position: absolute;
    left: auto;
    right: 0;
    width: 280px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;

    .search-box {
      text-align: left;
      font-size: 0.8rem;
      width: 100%;
      height: 34px;
      display: block;
      padding: 1em;
      box-sizing: border-box;
      border: 1px solid $primary;
      border-radius: 0.25rem;
    }
  }

  .dropdown-menu {
    li {
      a {
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
.main {
  min-height: calc(100vh - 132px);

  .center-card {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  @media (max-width: 768px) {
    width: 90%;
  }
}
