@import 'custom_bootstrap_vars';
@import '~bootstrap/scss/bootstrap';

// project specific CSS goes here

///////////////
// Variables //
///////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// Grays
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////
// Webkit //
////////////
* {
  scrollbar-color: #901919 #212121;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: #2d2d2d;
}
::-webkit-scrollbar-track-piece {
  background: #2d2d2d;
}
::-webkit-scrollbar-thumb {
  background: #810900;
}
::-webkit-scrollbar-thumb:hover {
  background: #ab0900;
}
::-webkit-scrollbar-corner {
  background: #2d2d2d;
}
::-webkit-resizer {
  background: #2d2d2d;
}

///////////////////
// Miscellaneous //
///////////////////
@each $color, $value in $grays {
  .text-gray-#{$color} {
    color: $value;
  }
}
html {
  font-size: 16px;
  direction: ltr;
}
body {
  direction: ltr;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  background: url('../images/background.png') no-repeat fixed center top;
  background-size: cover;
}
.text-muted li p {
  color: var(--bs-secondary-color);
}
.text-muted li p b {
  color: var(--bs-body-color);
}
.text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.main-header {
  position: relative;
  z-index: 1050;
  background-color: $dark;
  padding: 0;

  div:first-child {
    height: 50px;
    line-height: 20px;
  }

  .search-dropdown {
    .show {
      background-color: $gray-800;

      i {
        color: $primary;
      }
    }

    a {
      padding: 15px;
      border: 0;
      border-radius: 0;
      line-height: 20px;

      &:hover,
      &:focus,
      &:active {
        background-color: $gray-800;

        i {
          color: $primary;
        }
      }
    }
  }

  .search-menu {
    position: absolute;
    inset: 0 0 auto auto !important;
    width: 280px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;

    .search-box {
      text-align: left;
      font-size: 0.8rem;
      width: 100%;
      height: 34px;
      display: block;
      padding: 1em;
      box-sizing: border-box;
      border: 1px solid $primary;
      border-radius: 0.25rem;
    }
  }

  .dropdown-menu {
    li {
      a {
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
aside {
  width: 20rem;
  position: sticky;

  #member-information {
    width: 20rem;

    .avatar {
      display: block;
      overflow: hidden;
    }

    div:first-child {
      border: var(--bs-border-width) solid var(--bs-border-color);
    }

    div p {
      margin: 0;
    }
  }

  #navigation {
    margin-bottom: 0;
    padding: 0;
    width: 20rem;
    list-style: none;
    border-radius: 0.25rem;

    div:first-child {
      border: var(--bs-border-width) solid var(--bs-border-color);
    }

    li {
      margin-bottom: 0;
      padding: 0;
      list-style: none;

      a {
        color: $white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        border-radius: 0.25rem;

        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
}
.content {
  min-height: calc(100vh - 100px);

  #upcoming_operations {
    .accordion {
      .accordion-item {
        border: 0;
        border-top: var(--bs-accordion-border-width) solid
          var(--bs-accordion-border-color);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      .accordion-body {
        padding: 0;
        margin: 0;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
    }

    .accordion-button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &:hover {
        background-color: $primary;
        color: $white;
      }

      &:not(.collapsed) {
        // Decrease contrast of $primary color for active accordion button
        background-color: $primary;
        color: $white;
      }

      &::after {
        --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255,255,255)'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>");
        --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255,255,255)'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>");
      }
    }
  }

  .operation-container {
    padding: 1.5rem 3rem 3rem 3rem;
    border: var(--bs-accordion-border-width) solid
      var(--bs-accordion-border-color);

    .operation-title {
      font-size: 2rem;
      font-weight: bold;
      color: $white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .operation-time {
      font-size: 2rem;
      color: $white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .operation-attribute {
      opacity: 0.9;
      display: inline-block;
      text-align: center;
      padding: 3px;
      font-weight: bold;
      color: $white;
      border-radius: 3px;

      span {
        margin: 0 3px;
      }
    }

    .operation-control {
      a {
        text-decoration: none;
      }
    }
  }
}
footer {
  position: relative;
  z-index: 1050;
  background-color: $dark;
  padding: 0;

  div:first-child {
    height: 50px;
    line-height: 20px;
  }
}
