{% from 'macros/render_field_errors.html' import render_field_errors %}
{% extends "page.html" %}

{% block title %}Forgot Password{% endblock %}
{% block primary_content %}

  <div id="login-box" class="mx-auto card">
    <div class="card-body p-5">
      {% if error %}<div class="text-danger text-center mb-4">{{ error }}</div>{% endif %}
      <div class="card-title mb-4">
        <img src="https://pao.the-bwc.com/TS_Logo.png"
             style="background-color: transparent;
                    width: 100%">
      </div>
      <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3 text-center">
          <label class="form-label">
            <strong>Email</strong>
          </label>
          {{ form.email(class="form-control form-bg-secondary", type="email", placeholder="Email") }}
          {{ render_field_errors(form.email) }}
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
        <div class="text-center text-muted mt-3">
          <a href="{{ url_for("auth.login") }}">Send me back</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
