{% from 'macros/render_field_errors.html' import render_field_errors %}
{% extends 'page.html' %}

{% block title %}Login{% endblock %}
{% block primary_content %}

  {% if show_resend_activation %}

    <div class="text-center text-current/75 text-sm mb-4">
      You haven't received the activation email?
      <a href="{{ url_for("auth.resend_activation") }}">Resend</a>
    </div>
  {% endif %}
  <div class="col-sm-4 mx-auto card">
    <div class="card-body p-5">
      <div class="card-title mb-4">
        <img src="https://pao.the-bwc.com/TS_Logo.png"
             style="background-color: transparent;
                    width: 100%">
      </div>
      <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
          <label class="form-label">
            <strong>Email Address</strong>
          </label>
          {{ form.email(class="form-control form-bg-secondary", type="email", autofocus=true, placeholder="Email") }}
          {{ render_field_errors(form.email) }}
        </div>
        <div class="mb-4">
          <label class="form-label">
            <strong>Password</strong>
          </label>
          {{ form.password(class="form-control form-bg-secondary", type="password", placeholder="Password") }}
          {{ render_field_errors(form.password) }}
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
        <div class="text-center text-muted mt-3">
          <a href="{{ url_for("auth.forgot_password") }}" class="small">Forgot password?</a>
        </div>
        <div class="text-center text-muted">
          <a href="{{ url_for("auth.register") }}" class="small">Create new account?</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
