{% extends "default.html" %}

{% block title %}Dashboard{% endblock %}

{% block default_content %}
<section class="">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            {# Insert game dropdown here #}
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            {# Insert upcoming operations here #}
        </div>
    </div>
</section>
{% endblock %}