<!DOCTYPE html>
<html lang="en" dir="ltr" class="dark" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="description"
          content="OpServ is Black Widow Company's Operations Server">
    <meta name="author" content="Black Widow Company">
    <meta name="keywords"
          content="Black Widow Company, BWC, OpServ, Operations Server">
    <link rel="icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
    <link rel="canonical" href="{{ CANONICAL_URL }}">
    <title>
      {% block title %}{% endblock %}
      | OpServ
    </title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.css') }}">
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <!-- IntroJS -->
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='node_modules/intro.js/minified/introjs.min.css') }}">
    <script src="{{ url_for('static', filename='node_modules/intro.js/minified/intro.min.js') }}"></script>
    <!-- Toastr -->
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='node_modules/toastr/build/toastr.min.css') }}">
    <script src="{{ url_for('static', filename='node_modules/toastr/build/toastr.min.js') }}"></script>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='node_modules/toastify-js/src/toastify.css') }}">
    <script src="{{ url_for('static', filename='node_modules/toastify-js/src/toastify.js') }}"></script>
    <script>toastr.options.closeButton = true;</script>
    <!-- Sentry -->
    <script src="https://js-de.sentry-cdn.com/60ed8ebfa46700b2b584973de4a2473b.min.js"
            crossorigin="anonymous"></script>
    <script>
      window.sentryOnLoad = function () {
        Sentry.init({
          release: '{{ SENTRY_RELEASE }}',
          environment: '{{ SENTRY_ENVIRONMENT }}',
        })
      }
    </script>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='assets/css/main.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {%- block page %}
    {% endblock -%}
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
