{% extends 'base.html' %}

{% block page %}
  {% include "snippets/header.html" %}
  <div class="d-flex">
    {% include 'snippets/navigation.html' %}
    <div class="flex-fill">
      <div class="content">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        {# The pre_primary block can be used to add content to before the #}
        {# rendering of the main content columns of the page. #}
        {% block pre_primary %}
        {% endblock pre_primary %}
        {% block primary %}
          <div class="primary col-md-12 col-xs-12 py-4 pe-3" role="main">
            {# The primary_content block can be used to add content to the page. #}
            {# This is the main block that is likely to be used within a template. #}
            {# Example: #}
            {# {% block primary_content %} #}
            {#   <h1>My page content</h1> #}
            {#   <p>Some content for the page</p> #}
            {# {% endblock %} #}
            {% block primary_content %}
            {% endblock primary_content %}
          </div>
        {% endblock primary %}
      </div>
    </div>
  </div>
  {% include "snippets/footer.html" %}
{% endblock page %}
