{% extends "base.html" %}

{%- block page -%}
  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {%- block header %}
  {% endblock -%}
  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}
    {% block maintag %}

      <div class="main">
      {% endblock maintag %}
      <div id="content" class="container">
        {% block main_content %}
          {% block flash %}

            <!-- Flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
              {% if messages %}

                {% for category, message in messages %}<script>toastr.{{category}}("{{message}}");</script>{% endfor %}
              {% endif %}
            {% endwith %}
          {% endblock flash %}
          {#
          The pre_primary block can be used to add content to before the
          rendering of the main content columns of the page.
          #}
          {% block pre_primary %}{% endblock %}
          {% block primary %}

            <div class="primary col-md-12 col-xs-12" role="main">
              {#
              The primary_content block can be used to add content to the page.
              This is the main block that is likely to be used within a template.

              Example:

                {% block primary_content %}
                  <h1>My page content</h1>
                  <p>Some content for the page</p>
                {% endblock %}
              #}
              {% block primary_content %}{% endblock %}
            </div>
          {% endblock %}
        {% endblock %}
      </div>
    </div>
  {% endblock -%}
  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html file.
  #}
  {%- block footer %}
  {% endblock -%}
{%- endblock -%}
