{% extends "_partiels/base.html" %}

{% block content %}

  <div class="page-single">
    <div class="container gy-4">
      <div class="row">
        <div class="col mx-auto" style="max-width: 32rem">
          <div class="text-center mb-5">
            <a href="">
              <img src="https://pao.the-bwc.com/Opserv_header.png"
                   style="background-color: transparent;
                          width: 100%">
            </a>
          </div>
          {% block single_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
